.mlto{
    text-align: center;
    margin-top: 2g0px !important;
}
.disp{
    margin-left: auto !important;
    margin-right: auto !important;
    
}
.bord{
    border-radius: 10px !important;
}
.solutionField{
    display: none;
}