.mlto{
    text-align: center;
}
.disp{
    margin-left: auto !important;
    margin-right: auto !important;
    
}
.bord{
    border-radius: 10px !important;
}
.tac{
    text-align: center;
}
#solutionField{
    display: none;
}